body {
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.outer {
  height: 100%;
  display: flex;
  text-color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
}
